@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  body{
    @apply absolute inset-0 -z-20 h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]
  }
} */

@layer utilities {
  *{
    padding: 0; margin: 0; box-sizing: border-box;
  }
  .text-balance {
    text-wrap: balance;
  }

  .span{
    -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
  }

  /* body{
    background-color: #18181B;
  } */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #525252 #020617;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #020617;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #525252;
    border-radius: 10px;
    border: 2px solid #ffffff;
  }
  
}
